<h2>Insert new customer</h2>
<form method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Code" aria-label="Code" name="CUST_CODE">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="CUST_NAME">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="City" aria-label="City" name="CUST_CITY">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Working Area" aria-label="Working Area" name="WORKING_AREA">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Country" aria-label="Country" name="CUST_COUNTRY">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Grade" aria-label="Grade" name="GRADE">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Opening AMT" aria-label="Opening AMT" name="OPENING_AMT">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Receive AMT" aria-label="Receive AMT" name="RECEIVE_AMT">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Payment AMT" aria-label="Payment AMT" name="PAYMENT_AMT">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Outstanding AMT" aria-label="Outstanding AMT" name="OUTSTANDING_AMT">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number" name="PHONE_NO">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Agent Code" aria-label="Agent Code" name="AGENT_CODE">
        </div>
    </div>
    <input type="submit" value="Send">
</form>